
canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    --color: #3e366d;
}

img, video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: #000;
    display: none;
}

audio, video {
    display: none !important;
}

body {
    overflow: hidden;
}

.gui-container {
    width: 240px;
    height: 320px;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 5px;
    background: rgba(0, 0, 0, .45);
    z-index: 5;
    overflow: hidden;
    overflow-y: auto;
    backdrop-filter: blur(20px);
}

.gui-item {
    width: calc(100% - 40px );
    height: auto;
    min-height: 20px;
    padding: 10px 20px;
    font-family: 'Cascadia Code', Consolas, monospace;
    font-weight: 900;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}