
canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    --color: #3e366d;
}

img, video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: #000;
    display: none;
}